.container-fluid .row .left-nav li {
  list-style: none; }

.container-fluid .row .right-nav li {
  list-style: none; }

.container-fluid .pic img {
  width: 100%; }

.header {
  background-color: #f4f4f4; }
  .header .logo .logo-image {
    max-height: 50px; }
  .header .left-nav ul,
  .header .right-nav ul {
    margin: 0; }
    .header .left-nav ul li,
    .header .right-nav ul li {
      display: inline-block;
      padding: 20px; }
      .header .left-nav ul li:hover,
      .header .right-nav ul li:hover {
        background-color: #F0F0F2; }
  .header .right-nav {
    text-align: right; }

.slogan {
  padding: 40px; }
  .slogan .row h2 {
    font-weight: 300; }
  .slogan .row p {
    font-weight: 300; }
  .slogan button {
    float: right;
    background-color: green;
    color: white; }

#images {
  background-color: #f8f8f9; }
