$colorDark = #211917;
$colorClay= #645F5E;
$colorMid = #493739;
$colorLight = #C4C0C9;
$colorBlush = #9A6B6A;

body {
            font-family: 'Open Sans', sans-serif;
            line-height: 1.4em;
            color: $colorDark;
}
