.container-fluid {
    .row {
    	.left-nav li {
    		list-style: none;
    	}
    	.right-nav li {
    		list-style: none;
    	}
    }
    .pic {
        img {
            width: 100%;
        }
    }
}

.header {
	background-color: #f4f4f4;

	.logo {

		.logo-image {
			max-height: 50px;
		}
	}

	.left-nav,
	.right-nav {

		ul {
			margin: 0;

			li {
				display: inline-block;
				padding: 20px;

				&:hover{
					background-color: #F0F0F2;
				}
			}
		}
	}

	.right-nav {
		text-align: right;
	}
}

#images {
  background-color: #f8f8f9;
}
