.container-fluid {
    .row {
    	.left-nav li {
    		list-style: none;
    	}
    	.right-nav li {
    		list-style: none;
    	}
    }
    .pic {
        img {
            width: 100%;
        }
    }
}
